/* reste rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */

/**********
main  
**********/
main {
    background-color: #dddddd;
    display: flex;
    height: 500px;

}