/* reste rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */

/**********
main  
**********/
main {
    background-color: #dddddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 1rem;
    padding: 1rem;
    
}

.icon {
    font-size: 2rem;
}
h3 {
    font-size: .9rem;
}
.card > div {
    text-align: center;
}

/* types color */
.animal {
    color: #0000FF;
}
.vegetable {
    color: #FFA500;
}
.user {
    color: #800080;
}